{% extends 'base-template.jinja' %}
{% block content %}
    <div class="container">
    <h3 align="center">Description</h3>
        <div style="height: 50%;width: 100%; float: left">
        {% if not warehouses %}
        <div style="float: left;width:50%;">
            <h3 align="center" class="font-weight-light">No Locations Data Available Yet</h3>
        </div>
        {% else %}
        <div style="float: left;width:25%">
            <table class="table">
                <thead><tr><th scope="col">Location</th></tr></thead>
                <tbody>
                    {% for warehouse in warehouses %}
                    <tr><td>{{ warehouse[1] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if not products %}
        <div style="float: right;width: 50%;">
            <h3 align="center" class="font-weight-light">No Product Data Available Yet</h3>
        </div>
        {% else %}
        <div style="float:right;width:75%;">
            <table class="table">
                <thead><tr><th scope="col">Name</th><th scope="col">Count</th></tr></thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product[1] }}</td><td>{{ product[2] }}</td>
                        {% if product[2] != 0 %}
                        <td>
                            <a href="{{ url_for('reduce', prod_id=product[0], type='product') }}"><button name="button" type="button" class="btn btn-danger" value= "reduce" >-1</button><br></a>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{{ url_for('add', prod_id=product[0], type='product') }}"><button name="button" type="button" class="btn btn-success" value= "add" >+1</button><br></a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}